<header>
    <nav class="navbar">
        <div class="logo">
            <a href="/">📚 BookStore</a>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/home-books">Books</a></li>
            <li><a href="/auth/signup">Signup</a></li>
            <li><a href="/auth/login">Login</a></li>
        </ul>
    </nav>
</header>
