<footer>
    <p>&copy; 2025 Online Book Store. All rights reserved.</p>
    <p>Contact Us: <a href="mailto:support@bookstore.com">support@bookstore.com</a></p>
</footer>
<script src="/components/script.js"></script>
