<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>
    <%- include('components/header', { user: user }) %>


    <div class="content">
        <h1>Available Books</h1>
        <ul>
            <% books.forEach(book => { %>
                <li><strong><%= book.title %></strong> by <%= book.author %></li>
            <% }) %>
        </ul>
    </div>


    <%- include('components/footer') %>
</body>
</html>
