<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <%- include('components/header', { user: user }) %>
    <div class="content">
        <h1>Welcome to the Bookstore, <%= user.name %>!</h1>
        <!-- Content specific to home page -->
    </div>
   
    <%- include('components/footer') %>
</body>
</html>