<formaction="/auth/login"method="POST"> 
    <inputtype="email"name="email"placeholder="Email"required> 
    <inputtype="password"name="password"placeholder="Password" 
required> 
    <buttontype="submit">Login</button> 
</form>