body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    }
    header {
    background-color: #333;
    color: white;
    padding: 20px;
}